<div class="container">
  <div class="row">
    <div class="col"><app-button [value]="1" (click)="setValue($event)"></app-button></div>
    <div class="col"><app-button [value]="2"></app-button></div>
    <div class="col"><app-button [value]="3"></app-button></div>
    <div class="col"><app-button [value]="'+'"></app-button></div>
    <div class="w-100"></div>
    <div class="col"><app-button [value]="4"></app-button></div>
    <div class="col"><app-button [value]="5"></app-button></div>
    <div class="col"><app-button [value]="6"></app-button></div>
    <div class="col"><app-button [value]="'-'"></app-button></div>
    <div class="w-100"></div>
    <div class="col"><app-button [value]="7"></app-button></div>
    <div class="col"><app-button [value]="8"></app-button></div>
    <div class="col"><app-button [value]="9"></app-button></div>
    <div class="col"><app-button [value]="'*'"></app-button></div>
    <div class="w-100"></div>
    <div class="col"><app-button [value]="0"></app-button></div>
    <div class="col"><app-button [value]="','"></app-button></div>
    <div class="col"><app-button [value]="'='"></app-button></div>
    <div class="col"><app-button [value]="'/'"></app-button></div>
  </div>
</div>
