<div class="container">
  <div class="row">
    <div class="col"><app-button [value]="1" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="col"><app-button [value]="2" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="col"><app-button [value]="3" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="col"><app-button [value]="'+'" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="w-100"></div>
    <div class="col"><app-button [value]="4" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="col"><app-button [value]="5" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="col"><app-button [value]="6" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="col"><app-button [value]="'-'" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="w-100"></div>
    <div class="col"><app-button [value]="7" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="col"><app-button [value]="8" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="col"><app-button [value]="9" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="col"><app-button [value]="'*'" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="w-100"></div>
    <div class="col"><app-button [value]="0" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="col"><app-button [value]="','" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="col"><app-button [value]="'='" (clickEvent)="onKeyPress($event)"></app-button></div>
    <div class="col"><app-button [value]="'/'" (clickEvent)="onKeyPress($event)"></app-button></div>
  </div>
</div>
