<div class="container">
  <div class="row">
    <div class="col"><app-button [number]="1"></app-button></div>
    <div class="col"><app-button [number]="2"></app-button></div>
    <div class="col"><app-button [number]="3"></app-button></div>
    <div class="w-100"></div>
    <div class="col"><app-button [number]="4"></app-button></div>
    <div class="col"><app-button [number]="5"></app-button></div>
    <div class="col"><app-button [number]="6"></app-button></div>
    <div class="w-100"></div>
    <div class="col"><app-button [number]="7"></app-button></div>
    <div class="col"><app-button [number]="8"></app-button></div>
    <div class="col"><app-button [number]="9"></app-button></div>
    <div class="w-100"></div>
    <div class="col"><app-button [number]=""></app-button></div>
    <div class="col"><app-button [number]="0"></app-button></div>
    <div class="col"><app-button [number]="0"></app-button></div>
  </div>
</div>
